body {
    font-family: e-Ukraine, sans-serif;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    width: 500px;
    background: transparent;
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 45px;
    letter-spacing: 2px;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.logout-btn:hover {
    opacity: 0.9;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    gap: 10px;
}

#taskInput {
    width: calc(100% - 20px);
    padding: 20px;
    margin: 10px 0;
    border: 1px solid purple;
    border-radius: 8px;
    font-size: 16px;
    background: #fff;
    color: black;
}

#addTaskBtn {
    background: #6A00F4;
    padding: 22px;
    border-radius: 8px;
    border: 0px solid #6A00F4;
    color: white;
    font-weight: normal;
    cursor: pointer;
    transition: background 0.3s;
    width: 170px;
}

#addTaskBtn:hover {
    background-color: #5A00D1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    color: black;
    position: relative;
    width: 94%;
    gap: 10px;
}

li.completed span {
    text-decoration: line-through;
    color: black;
}

.task-content i {
    margin-right: 14px;
    color: #6A00F4;
    font-size: 20px;
}

.task-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.task-text {
    flex-grow: 1;
    color: black;
    text-align: left;
    margin-right: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
}

.task-actions {
    display: flex;
    align-items: center;
}

li button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
}

li button.edit {
    color: #6A00F4;
}

li button.delete {
    color: #6A00F4;
}

li button:hover {
    color: #5A00D1;
    transition: background 0.3s;
}